<h4 class='text-center'>Categories</h4>
<div class="panel-group category-list" id="accordion">
    <div class="panel panel-default" ng-repeat='(key, category) in categories'>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ key+1 }}" href="">{{ category.name }}</a>
            </h4>
        </div>
        <div id="collapse{{ key+1 }}" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="list-group">

                  <li class="list-group-item" ng-repeat="style in styles | filter: { categoryId: category.id } | filter:query">
                    <a ng-href="/#/style/{{style.id}}">
                      {{ style.name }}
                    </a>
                  </li>

                </ul>
            </div>
        </div>
    </div>
</div>
